.App {
  text-align: center;
  
}
.stopwatch{
  font-size: 70px;
}
.link{
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
  color: black;
}
.link:active{
  color: red;
}
.link:focus{
  border-bottom:4px solid teal ;
}
.reset,.pause,.start{
  border-radius:50%;
  width:100px ;
  height: 100px;
  margin: 10px 10px 20px 10px;
  border: none;
  font-size: 20px;
  
}
.start:focus,.reset:focus,.pause:focus{
  background-color: rgb(64, 160, 160);
}
.start:active,.reset:active,.pause:active{
  background-color: rgb(1, 105, 105);
}
input{
  width: 47px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
span{
  font-size: 27px;
}

.edit{
  width: 90px;
  font-size: 20px;
  background-color: teal;
  color: white;
  border: none;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
body{
  background-color: rgb(207, 207, 142);
}