.App {
  text-align: center;
}
.controls{
  display: flex;
  margin: auto;
  width: 600px;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom:10px
}
.table{
  margin: auto;
}
.addstudent{
  border: 1px solid red;
  width: 500px;
  margin: auto;
  height: 450px;
}
.flex{
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
input{
  height: 25px;
  
}
.submit,.preferred_branch,button{
  width: 200px;
  margin: 10px 0px;
  height: 40px;
}